.slideshow-container {
    position: relative;
    width:100vw;
    height:80vh;
    overflow: hidden; /* Hide overflowing images */
  }
  
  /* Apply fade effect to the images */
  .slideshow {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* All images should be absolutely positioned inside the slideshow */
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Fade transition */
  }
  
  /* When an image is active, it should be visible */
  .slide.active {
    opacity: 1;
  }


.cover{
    object-fit: cover;
}
.contain{
    object-fit: contain;
}