a{
    color:white;
    text-decoration:none;
    font-family:'Poppins-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px;
}
a.active{
    text-decoration: underline;
}
div.navBar{
    width:100vw;
    max-width:80vw;
    height:10vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media (max-width:500px){
    div.navBar{
        height:10vh;
    }
a{
    font-size: small
}
}